.movieCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.movieCardImage {
    border-radius: 10px;
    transform: 1s;
    background-color: azure;
    
    }

.movieCardImage:hover{
    transform: scale(1.1);
    }

@media (max-width: 560px){
    .movieCardImage {
        width: 90%;
        height: auto;
    }
}