.movieGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px );
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

@media (max-width: 560px){
    .movieGrid{
        grid-template-columns: 100%;
    }
}